.App{
    font-family: sans-serif;
    background-color: #d6d6d6;
    margin: 0 0;
    padding:0 0;
    height: 100vh;
    width:100vw;
  }
  
  .App h1{
    font-size: 3em;
    padding:10px;
    text-transform: capitalize;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }


  .flex .sc-EHOje{
    border-radius: 6px !important;
    margin: 10px 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 7px 5px rgba(0,0,0,0.22);


  }
  
  